.services {
  padding: 4rem 0;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url("../img/moroccan-flower.png");
  background-repeat: repeat;
  background-size: auto;
  position: relative;
  z-index: -11;
  // .scribbleImg {
  //   position: absolute;
  //   top: -10px;
  //   left: 200px;
  //   z-index: -10;
  // }
  .servicesContent {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    .paraBorder {
      flex: 1 1 300px;
      font-size: 1.1rem;
      letter-spacing: 0.5px;
      line-height: 1.6;
      border: solid $goldBg;
      // border-style: inset;
      border-top: none;
      border-bottom: none;
      border-left: none;
      padding: 30px;
      .custom-button {
        margin-top: 15px;
      }
    }

    img {
      flex: 1 1 100px;
      max-width: 100%;
      //border-radius: 10px;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    }

    .servicesText {
      flex: 1 1 300px;

      // p {
      //   font-size: 1.2rem;
      //   line-height: 1.6;
      //   margin-bottom: 1rem;
      // }

      ul {
        padding-left: 1.2rem;
        margin-bottom: 1rem;

        li {
          margin-bottom: 0.5rem;
        }
      }

      // button {
      //   background-color: $goldColor;
      //   color: white;
      //   border: none;
      //   padding: 0.75rem 1.5rem;
      //   border-radius: 30px;
      //   font-weight: bold;
      //   transition: background-color 0.3s ease;

      //   &:hover {
      //     background-color: darken($goldColor, 10%);
      //   }
      // }
    }
  }
}
