@import "variables";

//@import "nav";
@import "hero";
@import "aboutme";
@import "services";
@import "links";
@import "cta";
@import "gallery";
@import "footer";

body,
p {
  padding: 0 !important;
  margin: 0 !important;
  font-family: $myFont;
}

body {
  padding-right: 0 !important;
}
